<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" charset="UTF-8">
    <title>タイトル</title>
  </head>
  <body>
    <h1>サイト名</h1>

    <div class="profile">
      <h1>プロフィール</h1>
      <h2 th:text="${name}">佐藤 HTML太郎</h2>
      <h2 th:text="${age}">35歳</h2>
      <h2 th:text="${height}">207cm</h2>

    </div>
    <form action= "/" method="POST">
    <label>名前</label><input type="text" name="nameVal" th:value="${name}">
    <label><br>年齢</label><input type="text" name="ageVal" th:value="${age}">
    <label><br>身長</label><input type="text" name="heightVal" th:value="${height}"> 
    <input type="submit", value="送信">
    </form>
  </body>
  </html>